{% extends 'base.html.twig' %}

{% block title %}Metro{% endblock %}

{% block body %}
    <h1>Metro</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ metro.id }}</td>
            </tr>
            <tr>
                <th>GeoPoint</th>
                <td>{{ metro.geoPoint }}</td>
            </tr>
            <tr>
                <th>GeoShape</th>
                <td>{{ metro.geoShape }}</td>
            </tr>
            <tr>
                <th>ObjetId</th>
                <td>{{ metro.objetId }}</td>
            </tr>
            <tr>
                <th>IdRefZdl</th>
                <td>{{ metro.idRefZdl }}</td>
            </tr>
            <tr>
                <th>GareId</th>
                <td>{{ metro.gareId }}</td>
            </tr>
            <tr>
                <th>NomGare</th>
                <td>{{ metro.nomGare }}</td>
            </tr>
            <tr>
                <th>NomLong</th>
                <td>{{ metro.nomLong }}</td>
            </tr>
            <tr>
                <th>NomIv</th>
                <td>{{ metro.nomIv }}</td>
            </tr>
            <tr>
                <th>NomMod</th>
                <td>{{ metro.nomMod }}</td>
            </tr>
            <tr>
                <th>Mode</th>
                <td>{{ metro.mode }}</td>
            </tr>
            <tr>
                <th>Fer</th>
                <td>{{ metro.fer }}</td>
            </tr>
            <tr>
                <th>Train</th>
                <td>{{ metro.train }}</td>
            </tr>
            <tr>
                <th>Rer</th>
                <td>{{ metro.rer }}</td>
            </tr>
            <tr>
                <th>Metro</th>
                <td>{{ metro.metro }}</td>
            </tr>
            <tr>
                <th>Tramway</th>
                <td>{{ metro.tramway }}</td>
            </tr>
            <tr>
                <th>Navette</th>
                <td>{{ metro.navette }}</td>
            </tr>
            <tr>
                <th>Val</th>
                <td>{{ metro.val }}</td>
            </tr>
            <tr>
                <th>Terfer</th>
                <td>{{ metro.terfer }}</td>
            </tr>
            <tr>
                <th>Tertrain</th>
                <td>{{ metro.tertrain }}</td>
            </tr>
            <tr>
                <th>Terrer</th>
                <td>{{ metro.terrer }}</td>
            </tr>
            <tr>
                <th>Termetro</th>
                <td>{{ metro.termetro }}</td>
            </tr>
            <tr>
                <th>Tertram</th>
                <td>{{ metro.tertram }}</td>
            </tr>
            <tr>
                <th>Ternavette</th>
                <td>{{ metro.ternavette }}</td>
            </tr>
            <tr>
                <th>Terval</th>
                <td>{{ metro.terval }}</td>
            </tr>
            <tr>
                <th>Idrefliga</th>
                <td>{{ metro.idrefliga }}</td>
            </tr>
            <tr>
                <th>Idrefligc</th>
                <td>{{ metro.idrefligc }}</td>
            </tr>
            <tr>
                <th>Ligne</th>
                <td>{{ metro.ligne }}</td>
            </tr>
            <tr>
                <th>CodeLignf</th>
                <td>{{ metro.codeLignf }}</td>
            </tr>
            <tr>
                <th>LigneCode</th>
                <td>{{ metro.ligneCode }}</td>
            </tr>
            <tr>
                <th>IndiceLig</th>
                <td>{{ metro.indiceLig }}</td>
            </tr>
            <tr>
                <th>Reseau</th>
                <td>{{ metro.reseau }}</td>
            </tr>
            <tr>
                <th>ResCom</th>
                <td>{{ metro.resCom }}</td>
            </tr>
            <tr>
                <th>CodResf</th>
                <td>{{ metro.codResf }}</td>
            </tr>
            <tr>
                <th>ResStif</th>
                <td>{{ metro.resStif }}</td>
            </tr>
            <tr>
                <th>Exploitant</th>
                <td>{{ metro.exploitant }}</td>
            </tr>
            <tr>
                <th>NumPsr</th>
                <td>{{ metro.numPsr }}</td>
            </tr>
            <tr>
                <th>Idf</th>
                <td>{{ metro.idf }}</td>
            </tr>
            <tr>
                <th>Principal</th>
                <td>{{ metro.principal }}</td>
            </tr>
            <tr>
                <th>X</th>
                <td>{{ metro.x }}</td>
            </tr>
            <tr>
                <th>Y</th>
                <td>{{ metro.y }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_metro_index') }}">back to list</a>

    <a href="{{ path('app_metro_edit', {'id': metro.id}) }}">edit</a>

    {{ include('metro/_delete_form.html.twig') }}
{% endblock %}
